<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Темергалеев Никита Алексеевич. Лабораторная работа {{lab_num}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. Лабораторная работа {{lab_num}}
    </header>

    <main>
        <br>
        5 + 2 = {{5 + 2}}<br>
        11 * 28 = {{11 * 28}}<br>
        8452 / 793 = {{8452 / 793}}<br>
        45<sup>8</sup> = {{45 ** 8}}<br><br>
    </main>

    <footer>
        &copy; {{ name }}, {{group}}, {{course_num}} курс, 2023
    </footer>
</body>
</html>