<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>База знаний</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <style>
        a {
            position: relative;
            margin: 0vw 2.5vw 0vw 2.5vw;
            text-decoration: none;
            color:blueviolet
        }

        button {
            border: 3px solid blueviolet;
            border-radius: 15px;
            background-color: black;
            color: blueviolet;
        }
    </style>
</head>
<body>
    <header style="height: 4vw;">
        <span style="font-size: 3vw;">База знаний</span>
        <a href="">Посмотреть заметки</a>
        <a href="">Создать заметку</a>
        <button style="position: relative; left: 3vw;" href="">
            <a href="/lab5/login" target="_self">Логин</a>
        </button>
        <button style="color: white; background-color: blueviolet; left: 5vw; position: relative;" href="">
            <a style="color: white" href="/lab5/register" target="_self">Регистрация</a>
        </button>
        <span  style="right: -7vw; position: relative; color:green">{{ username }}</span>

    </header>
    
    <main>
        
    </main>
    <br>
    <footer>
        <a style="top: 8.3vw;" class="menu_bt" href="/menu" target="_self">Меню</a> База знаний 
    </footer>
    
</body>
</html>